
body {
  margin:0px !important;
}

main{

  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  padding: 0px;
  margin-bottom: 0px;

}

.content{

  width: 80%;
  margin: auto;
  display: flex;
}

.block{

  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;

}
h1{
  text-align: center;
  margin: auto;
}

h1, h2, h3, h4, h5{
  color: #612300;
}

.top {
  padding-top: 40px;
}
.bottom{
  padding-bottom: 40px;
}

.left {
  text-align: left !important;
}

.color{

  background-color: #FFF9EB;
}

.tekstcolorwhite {
  color: #fff;
}

.dato {
  color: #F8AD15;
}

.colors{
  width: 100%;
  display: flex;
  background-color: #612300;
  color: white;
}

.full{
  width: 100%;
  display: flex;

}

.halv{
  width: 50%;
  margin: auto;
  display: flex;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

/*nav*/
.logo a{

}
header{
  background: #FFF9EB;

}

nav{
  width: 80%;
    margin: auto;
    background: #FFF9EB;

}

nav ul{
    list-style-type: none;
    padding: 0px 30px;
}

nav ul li{
    font-size: 16px;
    padding: 15px 5px;
}

nav ul li a{
    color: #612300;
    text-decoration: none;
    display: block;
}

/*mobile nav*/
.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu-item{
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
}

.menu-item.active{
    display: block;
}

.search{
    order: 2;
}

.toggle{
    cursor: pointer;
    order: 3;
}

.menu-symbol{
    background: #612300;
    display: inline-block;
    height: 2px;
    width: 18px;
    position: relative;
}

.menu-symbol::before, .menu-symbol::after{
    background: #612300;
    display: inline-block;
    height: 2px;
    width: 18px;
    position: absolute;
    content: "";
}

.menu-symbol::before{
    top: 5px;
}

.menu-symbol::after{
    top: -5px;
}

nav ul li a:hover{
    text-decoration: underline;
    text-decoration-color: #F8AD15;
}

.header-img{
    width: 100%;
    height: 120px;
}

/* forside */

.forside {
padding: 0px 40px;
width: 33%;
margin: 0px;
text-align: center;
}
.forside h1{
  margin-bottom: 20px;

}
.forside img{
max-width: 100%;
margin: 0px 0px -5px 0px;
}

.forside div p{
  overflow: hidden;
  height: 150px;
  text-align: left;
    padding: 0px 20px;

}

.forside button{
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
}
.forside h2{
  margin: 0px !important;
  padding: 20px 20px;
text-align: left;
}
.produkt-forside{


  flex-direction: column;
  text-align: center;
  padding: 0px !important;
  margin: 0px;
  width: 33%;

}




.halv h2{
  text-align: center;
  margin: auto;
}
.forsidekvart {
  width: 30%;
  margin: 0px;
  display: flex;
  max-height: 250px;


}

.forsideresten {
  width: 60%;
  margin: 0px;
  display: flex;
  padding: 20px 20px 20px 20px;
  background-color: #F9F6EC;
}

.forsideinfo h2{
  margin: 0px;
  padding: 0px;
}

.forsideinfo p{
  overflow: hidden;
  text-overflow: ellipsis;
  height: 55px;
  white-space: wrap;
}
.forsidep {
width: 82%;
margin: auto;
display: flex;
justify-content: space-between;

}
#tekstposition {
  margin: -250px 0px 30px 40px;
  width: 40%;
  float: left;

}

#tekstposition h1, #tekstposition p {
  text-align: left;
  color: #fff;
  margin: 0px;

}

#forsideheader {
  background-image: url('image/forsidebillede.png');
  background-repeat: no-repeat;
  background-position: right top;
  width: 100%;
  height: 350px;

}
/* Produkter */

.produkt{


  flex-direction: column;
  text-align: center;
  padding: 0px !important;
  margin: 0px;
  width: 25%;

}

#produktheader{
  width:100%;
  height: 350px;
}
.produkt p {
    padding: 0px 10px 0px 10px;
   text-align: center !important;
 }

.produkt h3{
  text-align: center;

}
#myDIV {
  display: flex;
}
#myDIV button{
background-color: white;
color: #000;
border: 2px solid #F8AD15;

}


.active {
    background-color: #F8AD15 !important;
    color:#fff;
}



button{
  background-color: #F8AD15;
  color: white;
  border: 0px;
  padding: 5px 10px 5px 10px;
}

.voresoel{
  text-align: center;
  max-width: 200px;
}
.voresoel button{
  text-align: center;
  margin: 0px 10px;
}
.voresoel h1{
  text-align: center;
  margin: auto;
}

/*Øl Smag */


.billedemellemrum {
  padding: 20px;
}
#smag {
  width: 82%;
}
/*Arrangementer */



.kvart {
  width: 30%;
  margin: auto;
  display: flex;

}

.resten {
  width: 60%;
  margin: auto;
  display: flex;
}



/* Kontakt */

.kontakt {
width: 50%;
display: block !important;
text-align: center;
}


.kontakt h2 {
  width:100%;
  float: left;
  text-align: left;
}



/* om os */
