body {
  margin:0px !important;
}

main{
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  padding: 0px;
  margin-bottom: 0px;

}
.content{
  width: 80%;
  margin: auto;
  display: flex;

}

.color{
  width: 100%;
  display: flex;
  background-color: #F9F6EC;
}

.full{
  width: 100%;
  display: flex;

}
.halv{
  width: 50%;
  margin: auto;
  display: flex;
}

.header1 {
  width: 80%;
  margin: auto;
  display: block;
  text-align: center;
  margin-top: 20px;
}

.kvart {
  width: 20%;
  margin: auto;
  display: flex;

}

.resten {
  width: 60%;
  margin: auto;
  display: flex;
}

.top {
  margin-top: 20px;
}
.bottom{
  margin-bottom: 20px;
}
.left {
  text-align: left !important;

}
