footer{

    background-color: #612300;
    display: flex;
    justify-content: space-between;
    padding: 0% 10% 0% 10%;
}

footer ul{
    list-style: none; 
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #FFF9EB;
}

footer li {
    padding: 0px 0px 5px 0px;    
}

footer #aabningstider{
    list-style: none; 
    display: flex;
    justify-content: space-between;
}

footer #overskrift {
    font-weight: bold;
    font-size: 22px;
    padding: 0px 0px 15px 0px;
}

footer #underoverskrift {
    padding: 0px 0px -25px 0px;
}

footer #fbbillede {
    width: 35px;
}

footer #oelmaerke {
    height: 155px;
}

footer a {
    color: #FFF9EB;
}

footer a:visited {
    color: #FFF9EB;
}

footer a:hover {
  text-decoration: none;
}
