@media only screen and (max-width: 780px) {


/* ølsmagning */ 
.full {
  flex-direction: column;
}

.content{
  flex-direction: column;
}

.halv {
    width: 100%;
}

#smag {
  width: 100%;
}

/*Arrangementer */
.kvart {
  width: 100%;
  margin-top: 20px;


}

.resten {
  width: 100%;

}

.top {
  padding-top: 10px !important;
}

.bottom {
padding-bottom: 20px !important;
}

/*Forside */

.forside {
  width: 100%;
}

.produkt-forside{
  width: 100%;
}

.forside h1{
  margin-bottom: 20px;
  margin-top: 20px;
}

.forsideresten {
  width:100%;
}

.forsidekvart {
  width: 100%;
}





















}
