.produkt{
padding: 0px !important;
margin: 0px;
width: 25%;

}

.produkt p {
  white-space: nowrap;
   width: 80%;
   height: 25px;
   text-align: center;
   overflow: hidden;
   text-overflow: ellipsis;
   text-align: center;
 }
