body {
  margin:0px !important;
}

main{

  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;

}
.content{

  width: 80%;
  margin: auto;
  display: flex;

}

.color{
  width: 100%;
  display: flex;
  background-color: #F9F6EC;
}

.full{
  width: 100%;
  display: flex;

}

.halv{
  width: 50%;
  margin: auto;
  display: flex;

}

h1 {
  margin: auto;
  padding: 20px;
  text-align: center;
}

p {
  margin: auto;
  padding: 20px;

}
h2 {
  margin: auto;
  padding: 20px;
  text-align: center;
}

.billedemellemrum {
  padding: 20px;
}

#smag {
  width: 82%;
}

.top {
  margin-top: 20px;
}
.bottom{
  margin-bottom: 20px;
}

.left {
  text-align: left !important;
}
