main{

  width: 100%;
  margin: auto;
  display: flex;
      flex-wrap: wrap;

}
.content{

  width: 80%;
  margin: auto;
  display: flex;

}

.color{
  width: 100%;
  display: flex;
  background-color: #F9F6EC;
}

.full{
  width: 100%;
  display: flex;

}

.halv{
  width: 50%;
  margin: auto;
  display: flex;

}

.produkt{
  margin: auto;
  padding: 0px 20px 20px 20px;
  margin: 5px;
 display: block;
 text-align: center;
}
.produkt img<{
  width: 100%;
}

.produkt h3{
  text-align: center;

}

.produkt p<{
  text-align: center;

}
button{
  background-color: #F8AD15;
  color: white;
  border: 0px;
  padding: 5px 10px 5px 10px;
}

.voresoel{
  text-align: center;
  max-width: 200px;
}
.voresoel button{
  text-align: center;
  margin: 0px 10px;
}


/* om os */

.omos {
  display: block !important;
  text-align: center;
}

.historie{
  width: 400px;
  height: 300px;
  margin: 40px 0px 0px 0px;
  border-radius: 10px;
}
.historie-icon{
  width: 200px;
  height: 400px;
}

.m10{

}
