main{

  width: 100%;
  margin: auto;
  display: flex;
      flex-wrap: wrap;

}
.content{

  width: 80%;
  margin: auto;
  display: flex;

}

.color{
  width: 100%;
  display: flex;
  background-color: #F9F6EC;
}

.full{
  width: 100%;
  display: flex;

}

.halv{
  width: 50%;
  margin: auto;
  display: flex;

}

.produkt{
  margin: auto;
  padding: 20px;
  margin: 5px;
 display: block;
 text-align: center;
}
.produkt img<{
  width: 100%;
}

.produkt h3{
  text-align: center;

}

.produkt p<{
  text-align: center;

}
button{
  background-color: #F8AD15;
  color: white;
  border: 0px;
  padding: 5px 10px 5px 10px;
}
