
body {
  margin:0px !important;
}

main{

  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  margin-bottom: 0px;
  padding-top: 100px;

}

.content{

  width: 80%;
  margin: auto;
  display: flex;
}

.block{

  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
}


img {
  border-radius: 10px;
}
 .headerimg{
   border-radius: 0px;
   width: 100%;
   height: 350px;
 }
h1{
  text-align: center;
  margin: auto;
  margin-bottom: 15px;
}

h1, h2, h3, h4, h5{
  color: #612300;
}

.top {
  padding-top: 40px;
}
.bottom{
  padding-bottom: 40px;
}

.left {
  text-align: left !important;
}
.right {
  left: 50%;
}


.colors h2{

  color: #F9F6EC;
}


.color{

  background-color: #FFF9EB;
}

.tekstcolorwhite {
  color: #fff;
}

.dato {
  color: #F8AD15;
  font-size: 15px;
  margin-bottom: 20px;
}

.colors{

  display: flex;
  background-color: #612300;
  color: #fff;
    width: 80%;
      color: #F9F6EC;
}
.colors{
}

.full{
  width: 100%;
  display: flex;

}

.halv{
  width: 50%;
  margin: auto;
  display: flex;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

/*nav*/

.between{
  display: flex;
  justify-content: space-between;
}

header{
  background: #FFF9EB;
  display: flex;
  height: 100px;
  width: 100%;
position: fixed;
    z-index: 9999;

}
.logo{

  text-align: left;

}
.logo img{
  height: 80px;

  }
nav{
  width: 100%;
      margin-top: 40px;
      background: #FFF9EB;

}

nav ul{
    list-style-type: none;
    padding: 0px 30px;
}

nav ul li{
    font-size: 16px;

}

nav ul li a{
    color: #612300;
    text-decoration: none;

}


.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.menu-item{

    margin-left: 20px;

}


  .search{
    border: 2px solid;
    background-color: #fff;
    border-radius: 10px;
    padding: 5px;
    height: 33px;
    margin-top: 33px;

  }
  .search input{
    border: 0px;
        padding: 3px 0px 3px 5px;
        border-radius: 25px;
  }


#toggle
{
}


nav ul li a:hover{
    text-decoration: underline;
    text-decoration-color: #F8AD15;
}

.header-img{
    width: 100%;
    height: 120px;
}

/* forside */

.forside {
padding: 0px;
width: 30%;
margin: 0px;
text-align: center;
}
.forside h1{
  margin-bottom: 20px;

}
.forside img{
max-width: 100%;
margin: 0px 0px -5px 0px;
border-radius: 10px 10px 0px 0px;
}

.forside div p{

  height: 150px;
  text-align: left;
    padding: 0px 20px 20px 20px;

}
.forside div{
  border-radius: 10px;
}

.forside button{
  text-align: center;
  margin-bottom: 20px;
}
.forside h2{
  margin: 0px !important;
  padding: 20px 20px;
text-align: left;
}
.produkt-forside{

  flex-direction: column;
  text-align: center;
  padding: 0px !important;
  margin: 0px;
  width: 33%;
}

.produkt-forside img{
width: 80%;
margin: 30px;
}
.produkt-forside p {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  padding: 10px 30px;
  height: 50px;
}

.halv h2{
  text-align: center;
  margin: auto;
}
.forsidekvart {
  width: 30%;
  margin: 0px;
  display: flex;
  max-height: 250px;
}
.forsidekvart img {
  border-radius: 10px 0px 0px 10px !important;
}

.forsideresten {
  width: 70%;
  margin: 0px;
  display: flex;
  padding: 25px 50px 20px 30px;
  background-color: #F9F6EC;
      border-radius: 0px 10px 10px 0px;
}

.forsideinfo h2{
  margin: 0px;
  padding: 0px;
}

.forsideinfo p{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;

}



.forsidep {
width: 82%;
margin: auto;

}
#tekstposition {
  margin: -250px 0px 30px 40px;
  width: 40%;
  float: left;

}

#tekstposition h1, #tekstposition p {
  text-align: left;
  color: #fff;
  margin: 0px;

}

#forsideheader {
  background-image: url('image/forsidebillede.png');
  background-repeat: no-repeat;
  background-position: right top;
  width: 100%;
  height: 350px;

}
/* Produkter */

.produkt{


  flex-direction: column;
  text-align: center;
  padding: 0px !important;
  margin: 0px;
  width: 25%;

}


.produkt p {
    padding: 0px 10px 0px 10px;
    text-align: center !important;
    display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 40px;
}

.produkt h3{
  text-align: center;

}

.produkt-titel{
  font-size: 18px;
  font-weight: bold;
  color: #551F01;
  padding: 0px 10px 0px 10px;
text-align: center !important;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
height: 50px;
}
#myDIV {
  display: flex;
}
#myDIV button{
background-color: #fff;
color: #000;
border: 2px solid #F8AD15;

}


.active {
    background-color: #F8AD15 !important;
    color:#fff;
}



button{
  background-color: #F8AD15;
  color: #fff;
  border: 0px;
  padding: 5px 10px 5px 10px;
  margin-top: 20px;
}

.voresoel{
  text-align: center;
  max-width: 200px;
}
.voresoel button{
  text-align: center;
  margin: 0px 10px;
}
.voresoel h1{
  text-align: center;
  margin: auto;
}

/*Øl Smag */


.billedemellemrum {
  padding: 20px;
}
#smag {
  width: 100%;
}
/*Arrangementer */



.kvart {
  width: 30%;
  margin: auto;
  display: flex;

}

.resten {
  width: 60%;
  margin: auto;
  display: flex;
}



/* Kontakt */

.kontakt {
width: 50%;
display: block !important;
text-align: center;
}


.kontakt h2 {
  width:100%;
  float: left;
  text-align: left;
  margin-bottom: 20px;
}

.kontakt img {
  width: 50px;
}
/* om os */


.historie{
  width: 400px;
  height: 300px;
margin: -180px 0px 0px 0px;
  border-radius: 10px;
}
.historie img{
  width: 300px;
  height: 200px;
  border-radius: 10px;
}
.historie-icon{
  width: 200px;
  height: 400px;
}

* {
  box-sizing: border-box;
}

.historie-color{
  background-color: #FFF9EB;
  padding: 20px 40px;
  border-radius: 25px;

}


#oelinfo-titel{
  display:none;
}
.untappd-con{
  padding: 40px 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.untappd{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.untappd p{
  display: flex;
}
.untappd img{
  width: 25px !important;
}
/* The actual timeline (the vertical ruler) */
.timeline {

      position: relative;
      max-width: 1200px;
      margin-top: 50px;
      width: 80%;

}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #F8AD15;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 0px 0px;
  position: relative;
  background-color: inherit;
  width: 80%;
  margin-top: 40px;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: #F8AD15;
  border: 4px solid #F8AD15;
  top: 45px;
  border-radius: 50%;
  z-index: 1;
}


/* Place the container to the right */

.textcolorw{
  color: #F9F6EC;
}

.oelinfo-img{
  width: 85%;
  margin: auto;

}
.radius{
  border-radius: 10px;
}

.oelinfo{
  padding: 40px 60px;
}
/*Horizontal Timeline */

/* 25% */
.p-kvart:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 6px;
    background-color: #F8AD15;
    border-radius: 15px;
    top: 40px;
  }



.p-kvart {
    width: 100%;
    position: relative;
    height: 50px;

    }


.p-kvart:after {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 30px;
    left: 25%;
    margin-left: -15px;
    background-color: #F8AD15;
    border: 5px solid #F8AD15;
    content: "";
    border-radius: 50%;
    transition: transform .5s ease;
  }

/*35% */
.p-trefem:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 6px;
    background-color: #F8AD15;
    border-radius: 15px;
    top: 40px;
  }



.p-trefem {
    width: 100%;
    position: relative;
    height: 50px;

    }


.p-trefem:after {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 30px;
    left: 35%;
    margin-left: -15px;
    background-color: #F8AD15;
    border: 5px solid #F8AD15;
    content: "";
    border-radius: 50%;
    transition: transform .5s ease;
  }

/* 50% */
  .p-halv:before {
      position: absolute;
      content: "";
      width: 100%;
      height: 6px;
      background-color: #F8AD15;
      border-radius: 15px;
      top: 40px;
    }



  .p-halv {
      width: 100%;
      position: relative;
          height: 50px;
      }


  .p-halv:after {
    width: 15px;
    height: 15px;
      position: absolute;
      top: 30px;
      left: 50%;
      margin-left: -15px;
      background-color: #F8AD15;
      border: 5px solid #F8AD15;
      content: "";
      border-radius: 50%;
      transition: transform .5s ease;
    }

/* 65 % */
.p-seksfem:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 6px;
    background-color: #F8AD15;
    border-radius: 15px;
    top: 40px;
  }



.p-seksfem {
    width: 100%;
    position: relative;
    height: 50px;

    }


.p-seksfem:after {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 30px;
    left: 65%;
    margin-left: -15px;
    background-color: #F8AD15;
    border: 5px solid #F8AD15;
    content: "";
    border-radius: 50%;
    transition: transform .5s ease;
  }

/* 75% */
    .p-trekvart:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 6px;
        background-color: #F8AD15;
        border-radius: 15px;
        top: 40px;
      }



    .p-trekvart {
        width: 100%;
        position: relative;
        height: 50px;
        margin-bottom: 40px;

        }


    .p-trekvart:after {
      width: 15px;
      height: 15px;
        position: absolute;
        top: 30px;
        left: 75%;
        margin-left: -15px;
        background-color: #F8AD15;
        border: 5px solid #F8AD15;
        content: "";
        border-radius: 50%;
        transition: transform .5s ease;
      }

    .oelinfo h3{
      color: #F9F6EC;
      margin-top: 30px;
      margin-bottom: 10px;
    }
    .oel-left{

      text-align: left;

    }
    .oel-right{
      float: right;
    }


.icon-box{
  margin: auto;
  padding: 0px 40px 40px 40px;
}

.icon-img img{
  width: 77px;
  height: 77px;
  margin: 10px;
}
.icon-text{
  text-align: center;
}

.oelinfo-text{
  margin: 0px 40px 0px 20px;
}

.oelinfo-table{
  margin: 30px 0px 0px 40px;
  width: 100%;
}
.oelinfo-table tbody{
  width: 100%;
}

.oelinfo-table table tr {

  margin-bottom: 25px;
  display: flex;

}
.oelinfo-table table tr td{
  min-width: 150px;
}

.oel-historie h2{
  text-align: center;
  margin-bottom: 20px;
}

.relative h3{
  font-size: 16px;
  text-align: center;
  margin: auto;

}
.relative{
    color: #3E3E3E;
    width: 62%;
    margin: auto;
}


/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.historie-content {
  padding: 0px 40px 0px 180px;
  background-color: #fff;
  position: relative;
  border-radius: 6px;
}

footer{

    background-color: #612300;
    display: flex;
    justify-content: space-between;

}

footer ul{
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #FFF9EB;
}

footer li {
    padding: 0px 0px 5px 0px;
}

footer #aabningstider{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

footer #overskrift {
    font-weight: bold;
    font-size: 22px;
    padding: 0px 0px 15px 0px;
}

footer #underoverskrift {
    padding: 0px 0px -25px 0px;
}

footer #fbbillede {
    width: 35px;
}

footer #oelmaerke {
    height: 155px;
}

footer a {
    color: #FFF9EB;
}

footer a:visited {
    color: #FFF9EB;
}

footer a:hover {
  text-decoration: none;
}


/* MOBIL VERSION */

@media screen and (max-width: 1000px) {
/* Mobil nav */
nav {
  z-index: 1;
  background-color: #fff9eb;

}
.menu{
    display: block;
    flex-direction: column;
    justify-content: center;

}
.menu-item{
    display: block;
    width: auto;
    order: 1;
}
.toggle{
    display: flex;
}


.menu-item{
    order: 3;
    margin-left: 20px;
}

.toggle-holder{
  position: absolute;
  z-index: 1;
  top: 0px;
  right: 50px;
}




.menu-item{
    order: 3;
    margin-left: 20px;
}

.toggle-holder{
  position: absolute;
  z-index: 1;
  top: 0px;
  right: 50px;
}

#toggle
{
    height: 30px;
    padding: 20px 0;


}

#toggle:hover
{
    cursor: pointer;
}

#toggle:before
{
    content: '';
    height: 4px;
    width: 26px;
    background: #5B5B5B;
    left: 0px;
    position: absolute;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition: -webkit-transform 0.25s;
    transition: transform 0.25s;
    top: 48px;
}
#toggle:after
{
    content: '';
    height: 4px;
    width: 26px;
    background: #5B5B5B;
    left: 0px;
    position: absolute;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition: -webkit-transform 0.25s;
    transition: transform 0.25s;
    top: 48px;
    -webkit-transform: translate3d(0, 8px, 0);
    transform: translate3d(0, 8px, 0);
}

#toggle:before
{
    -webkit-transform: translate3d(0, -8px, 0);
    transform: translate3d(0, -8px, 0);
}

#toggle.on:before
{
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
}

#toggle.on:after
{
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
}

#toggle:after
{

}

#toggle .menu-line
{
    width: 26px;
    height: 4px;
    background: #5B5B5B;
    left: 0px;
    position: absolute;
    -webkit-transition: opacity 0.25s;
    -moz-transition: opacity 0.25s;
    -ms-transition: opacity 0.25s;
    -o-transition: opacity 0.25s;
    transition: opacity 0.25s;
    top: 48px;
}

#toggle.on .menu-line
{
    opacity: 0;
}


.menu-left-part
{
  display: none;
  position: absolute;
  z-index: 1;
  width: 100%;
  background: #fff9eb;
  text-align: center;
  top: 55px;
  padding: 20px 0px;
  right: 0px;
}

.show {
  display: block;
}


.logo{
    order: 0;
}


.search{

  position: absolute;
  right: 80px;
  top: -10px;
  border: 2px solid;
  background-color: #fff;
  border-radius: 10px;
  padding: 5px;
}
.search input{
  border: 0px;
      padding: 3px 0px 3px 5px;
      border-radius: 25px;
}
.headerimg{
  height: 100px;
  width: 100%;
}

#oelinfo-titel{
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

#oelinfo-titelimg{
  display: none;
}

  .historie img {
      width: 100%;
      height: 60%;
      margin-left: 35px;
      border-radius: 10px;
  }
  .historie {
      width: 100%;
      height: 60%;
      /* position: absolute; */
      margin: 0px 0px 0px 35px;
      border-radius: 10px;
      right: 10%;
      padding-right: 20%;
    }

      .timeline{
        width: 87% !important;
      }
      .historie-content{
        padding: 0px;
      width: 100%;
      }
      .historie-color{
            padding: 20px;
      }

        .timeline::after {
          left: 31px;
        }

      /* Full-width containers */
        .container {
          width: 100%;
          padding-left: 70px;
        }

      /* Make sure that all arrows are pointing leftwards */
        .container::before {
          left: 60px;
          border: medium solid #fff;
          border-width: 10px 10px 10px 0;
          border-color: transparent #fff transparent transparent;
        }

      /* Make sure all circles are at the same spot */
        .left::after, .right::after {
          left: 15px;
        }

      /* Make all right containers behave like the left ones */
        .right {
          left: 0%;
        }
}

/* MOBIL VERSION */

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 850px) {
/* Place the timelime to the left */
.timeline{
  width: 87% !important;
}
.historie-content{
  padding: 0px;
width: 100%;
}
.historie-color{
      padding: 20px;
}
.historie img {
    width: 100%;
    height: 100%;
    margin-left: 35px;
    border-radius: 10px;
}
.historie {
    width: 92%;
    height: 100%;
    /* position: absolute; */
    margin: 0px 0px 0px 35px;
    border-radius: 10px;
    right: 10%;
    padding-right: 20%;
}
  .timeline::after {
    left: 31px;
  }

/* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
  }

/* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid #fff;
    border-width: 10px 10px 10px 0;
    border-color: transparent #fff transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}


@media only screen and (max-width: 780px) {

      .menu-item{
          display: block;
          width: auto;

      }

      .toggle{
          display: flex;
      }

      .logo{

      }



      .menu li{
          padding: 10px 20px;
      }

/* ølsmagning */
.full {
  flex-direction: column;
}

.content{
  flex-direction: column;
}

.halv {
    width: 100%;
}

#smag {
  width: 100%;
}

/*Arrangementer */
.kvart {
  width: 100%;
  margin-top: 20px;


}

.resten {
  width: 100%;

}

.top {
  padding-top: 10px !important;
}

.bottom {
padding-bottom: 20px !important;
}

/*Forside */

.forside {
  width: 100%;
  padding: 0px;
}

.produkt-forside{
  width: 100%;
}


.forsideinfo button{
text-align: center;
margin: auto;

}
.forside h1{
  margin-bottom: 20px;
  margin-top: 20px;
}

.forsideresten {
  width: 100%;
  border-radius: 10px;
}

.forsidekvart {
  width: 100%;
}

.kontakt {
width: 100%;
}

#tekstposition {
  width: 80% !important;
}

#tekstposition p{
  display: none !important;
}

#tekstposition h1{
  position: absolute;
    top: 130px;
    width: 60%;
    right: 0px;
    background-color: rgba(0,0,0,0.1);
    padding: 10px;
    float: right;
}

.produkt {
  width: 100%;
}



.forsidekvart img {
  margin-left: 0px;
}



}
